@page
@inject SignInManager<User> SignInManager
@using Spot.DataLayer.Models
@using Spot.Data.Models
@model Spot.Areas.Application.Pages.Editor.Watch
@{
    ViewData["Title"] = Model.SocialObject.Name;
}

<div class="p-3 mb-4 bg-light rounded-3 w-100 border border-5 rounded">
    <h2 class="display-5 fw-bold">@Model.SocialObject.Name</h2>
        <p><strong>@Model.SocialObject.Date.ToString("dd.MM HH:mm")</strong> - через @((Model.SocialObject.Date - DateTime.Now).ToString("dd")) дней</p>
        <hr/>
        <div class="border rounded bg-white w-25 p-1">
            <p><strong>@Model.Presenter.OrganisationName</strong></p>
            <p><strong>Контактное лицо: </strong> @Model.Presenter.ContactPersonName</p>
            <p><strong>Телефон: </strong> @Model.Presenter.PhoneNumber</p>
            <p><strong>Другие контакты: </strong>@Model.Presenter.OtherContacts</p>
            <p><strong>Другая информация: </strong> @Model.Presenter.OtherInformation</p>
        </div>
        <div class="border rounded bg-white w-100 p-1">
            <p>@Model.SocialObject.ShirtDescription</p>
            <hr/>
            <p>@Model.SocialObject.FullDescription</p>
        </div>
        @{ var user = Model.UserManager.GetUserAsync(User).Result;}
        @if (SignInManager.IsSignedIn(User) && user.OwnObjects.Count(x => x.Id == Model.SocialObject.Id) != 0)
        {
            Dictionary<string, string> dict = new Dictionary<string, string>();
            dict["socialObjectId"] = Model.SocialObject.Id.ToString();
            <div class="btn btn-primary float-right">
                <a class="nav-link text-dark" asp-area="Application" asp-page="/Editor/Edit" asp-all-route-data="dict">Редактировать</a>
            </div>}
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}